<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="app-restrictions-heading"
        data-cy="RestrictionsCreateUpdateHeading"
        appTranslate="seatReservationApp.restrictions.home.createOrEditLabel"
      >
        Create or edit a Restrictions
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" appTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="seatReservationApp.restrictions.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" appTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="seatReservationApp.restrictions.fromDate" for="field_fromDate">From Date</label>
          <div class="d-flex">
            <input
              id="field_fromDate"
              data-cy="fromDate"
              type="datetime-local"
              class="form-control"
              name="fromDate"
              formControlName="fromDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('fromDate')!.invalid && (editForm.get('fromDate')!.dirty || editForm.get('fromDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fromDate')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('fromDate')?.errors?.datetimelocal"
              appTranslate="entity.validation.datetimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="seatReservationApp.restrictions.toDate" for="field_toDate">To Date</label>
          <div class="d-flex">
            <input
              id="field_toDate"
              data-cy="toDate"
              type="datetime-local"
              class="form-control"
              name="toDate"
              formControlName="toDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="seatReservationApp.restrictions.restrictionType" for="field_restrictionType"
          >Restriction Type</label
          >
          <select
            class="form-control"
            name="restrictionType"
            formControlName="restrictionType"
            id="field_restrictionType"
            data-cy="restrictionType"
          >
            <option [ngValue]="null">{{ 'seatReservationApp.RestrictionType.null' | translate }}</option>
            <option *ngFor="let restrictionType of restrictionTypeValues" [value]="restrictionType">
              {{ 'seatReservationApp.RestrictionType.' + restrictionType | translate }}
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('restrictionType')!.invalid &&
              (editForm.get('restrictionType')!.dirty || editForm.get('restrictionType')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('restrictionType')?.errors?.required"
              appTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="seatReservationApp.restrictions.restrictionValue" for="field_restrictionValue"
          >Restriction Value</label
          >
          <input
            type="number"
            class="form-control"
            name="restrictionValue"
            id="field_restrictionValue"
            data-cy="restrictionValue"
            formControlName="restrictionValue"
          />
          <div *ngIf="editForm.get('restrictionValue')!.invalid && (editForm.get('restrictionValue')!.dirty || editForm.get('restrictionValue')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('restrictionValue')?.errors?.required" appTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('restrictionValue')?.errors?.number" appTranslate="entity.validation.number">
              This field should be a number.
            </small>
            <small class="form-text text-danger" [hidden]="!(editForm.get('restrictionValue')?.errors?.min || editForm.get('restrictionValue')?.errors?.max)"  appTranslate="entity.validation.minMax" [translateValues]="{ min: 1, max: 100 }">
              The value should be between 1 and 100.
            </small>
          </div>
        </div>

      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
