<div>
  <h2 id="page-heading" data-cy="LocationHeading">
    <span appTranslate="seatReservationApp.location.home.title">Locations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="seatReservationApp.location.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-location"
        [routerLink]="['/location/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="seatReservationApp.location.home.createLabel"> Create a new Location </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="locations?.length === 0">
    <span appTranslate="seatReservationApp.location.home.notFound">No Locations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="locations && locations.length > 0">
    <table class="table" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" appSortBy="id"><span appTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="name">
            <span appTranslate="seatReservationApp.location.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of locations; trackBy: trackId" data-cy="entityTable" class="tr-clickable" [routerLink]="['/location', location.id, 'view']">
          <td>
            <a [routerLink]="['/location', location.id, 'view']">{{ location.id }}</a>
          </td>
          <td>{{ location.name }}</td>
          <td class="text-end">
            <button
              type="submit"
              (click)="$event.stopPropagation();"
              [routerLink]="['/location', location.id, 'edit']"
              class="btn btn-primary btn-sm"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
            </button>

            <button type="submit" (click)="delete(location); $event.stopPropagation();" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="locations && locations.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
