<div class="row">
  <div class="col-6 container">
    <h1 appTranslate="reservation.description">Reservation</h1>
    <button class="rounded-button" type="button" data-close [disabled]="true">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
    </button>

    <h3 appTranslate="reservation.title">Choose place of reservation</h3>

    <app-alert-error></app-alert-error>

    <app-alert></app-alert>
  </div>

</div>

<form class="form" role="form" [formGroup]="reserveForm">
  <div class="row">
    <div class="col-3"></div>

    <div class="col-2">
        <label class="form-label" appTranslate="seatReservationApp.location.title" for="field_location">Location</label>
        <select
          class="form-control"
          id="field_location"
          data-cy="location"
          name="location"
          formControlName="location"
          (change)="loadBuildings()"
          [(ngModel)]="selectedLocation"
        >
          <option [ngValue]="null"></option>
          <option  [ngValue]="location" *ngFor="let location of locations">{{ location.name }}</option>
        </select>
    </div>

    <div class="col-2">
      <label class="form-label" appTranslate="seatReservationApp.building.title" for="field_building">Building</label>
      <select
        class="form-control"
        id="field_building"
        data-cy="building"
        name="building"
        formControlName="building"
        (change)="loadFloors()"
        [(ngModel)]="selectedBuilding"
      >
        <option [ngValue]="null"></option>
        <option [ngValue]="building" *ngFor="let building of buildings">{{ building.name }}</option>
      </select>
    </div>

    <div class="col-2">
      <label class="form-label" appTranslate="seatReservationApp.floor.title" for="field_floor">Floor</label>
      <select
        class="form-control"
        id="field_floor"
        data-cy="floor"
        name="floor"
        formControlName="floor"
        (change)="loadSeats()"
        [(ngModel)]="selectedFloor"
      >
        <option [ngValue]="null"></option>
        <option [ngValue]="floor" *ngFor="let floor of floors">{{ floor.name }}</option>
      </select>
      {{floor?.name}}
    </div>
  </div>

  <div class="row">
    <div class="col-3"></div>

    <div class="col-2">
      <label class="form-label" appTranslate="seatReservationApp.seatReserved.fromDate" for="field_fromDate">From Date</label>
      <div class="d-flex">
        <input
          id="field_fromDate"
          data-cy="fromDate"
          type="datetime-local"
          class="form-control"
          name="fromDate"
          formControlName="fromDate"
          placeholder="YYYY-MM-DD HH:mm"
          (change)="loadSeats()"
          [(ngModel)]="selectedFromDate"
        />
      </div>
    </div>
    <div class="col-2">
      <label class="form-label" appTranslate="seatReservationApp.seatReserved.toDate" for="field_toDate">To Date</label>
      <div class="d-flex">
        <input
          id="field_toDate"
          data-cy="toDate"
          type="datetime-local"
          class="form-control"
          name="toDate"
          formControlName="toDate"
          placeholder="YYYY-MM-DD HH:mm"
          (change)="loadSeats()"
          [(ngModel)]="selectedToDate"
        />
      </div>
    </div>
    <div class="col-2">
      <label class="form-label" appTranslate="seatReservationApp.equipment.title" >Equipment</label>
      <ng-select [multiple]="true" [(ngModel)]="selectedEquipmentTypes" formControlName="equipment" (change)="sortAndFilter()">
        <ng-option
          *ngFor="let equipmentType of equipmentTypes"
          [value]="equipmentType"
          appTranslate="{{ 'seatReservationApp.EquipmentType.' + equipmentType }}" >
          {{equipmentType}}
        </ng-option>
      </ng-select>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-3"></div>
  <div class="col-6" *ngIf="selectedFloor?.map">
    <button class="btn mapButton" (click)="showMap();">
      <fa-icon icon="map"></fa-icon>
      <span class="d-none d-md-inline" appTranslate="reservation.map">Map</span>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-3"></div>
  <div class="col-6 alert alert-warning" id="seats-no-result" *ngIf="seats?.length === 0 && !isLoading &&selectedFloor && selectedFromDate && selectedToDate">
    <span appTranslate="seatReservationApp.seat.home.notFound">No Seats found</span>
  </div>
  <div class="col-6">
    <div class="table-responsive" id="entities" *ngIf="seats && seats.length > 0">
      <table class="table" aria-describedby="page-heading">
        <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="sortAndFilter()">
          <th scope="col" appSortBy="seatName">
            <span appTranslate="seatReservationApp.seat.name">Seat Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="roomName">
            <span appTranslate="seatReservationApp.seat.room">Room</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span appTranslate="seatReservationApp.equipment.title">Equipment</span>
          </th>
          <th scope="col" appSortBy="status" class="text-end">
            <span appTranslate="seatReservationApp.seat.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let seat of seats; trackBy: trackId" data-cy="entityTable" class="tr-hover">
          <td>{{ seat.name }}</td>
          <td>
            <div *ngIf="seat.room">
              <span>{{ seat.room.name }}</span>
            </div>
          </td>
          <td>
            <div *ngFor="let equipment of seat.equipments" >
              <span>•</span>
              <span appTranslate="{{ 'seatReservationApp.EquipmentType.' + equipment.type }}">{{ equipment.type }}</span><!--
           --><span>: {{ equipment.name }}</span>
            </div>
          </td>
          <td class="text-end" >
            <button *ngIf="seat.availabilityStatus === 'FREE'" type="submit" (click)="reserve(seat); $event.stopPropagation();" class="btn reserveButton" data-cy="entityReserveButton">
              <fa-icon icon="plus"></fa-icon>
              <span class="d-none d-md-inline" appTranslate="reservation.reserve">Reserve</span>
            </button>
            <button *ngIf="seat.availabilityStatus != 'FREE'" disabled type="submit" class="btn reserveButton" data-cy="entityReserveButton">
              <span class="d-none d-md-inline" appTranslate="{{ 'seatReservationApp.AvailabilityStatus.' + seat.availabilityStatus }}">{{ seat.availabilityStatus }}</span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>



